.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999999; /* Assicurati che sia sopra gli altri elementi */
}

.loader {
    /* Stilizza il testo o l'animazione di caricamento come preferisci */
    font-size: 1.5em;
    color: #000;
}